body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #010101;
    color: white;
    margin: 0;
    padding: 20px;
}

.hidden {
    display: none;
}

#login-container, #game-container {
    background: rgba(26, 26, 26, 0.8);
    padding: 80px;
    margin: auto;
    width: 90%;
    max-width: 400px;
    box-shadow: 0px 0px 50px rgba(255, 0, 0, 0.5);
    border-radius: 8px;
}



/* Main Content */
.content {
    padding: 20px;
}




h1, h2 {
    color: red;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: transform 0.2s;
}

button:hover {
    background: darkred;
    transform: scale(1.1);
}

p {
    font-size: 18px;
}

/* Responsive Design */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    
    #login-container, #game-container {
        width: 95%;
        padding: 15px;
    }
    
    input {
        width: 90%;
        padding: 8px;
    }
    
    button {
        width: 90%;
        padding: 8px;
    }
    
    p {
        font-size: 16px;
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}